/* elemen selector */
/* referensi web colorhunt.co */
body {
    background-color: #1A05A2;
    color: white;
    font-family:verdana;
}

.txt-center {
    text-align: center;
}

.txt-center {text-align: center;}
.bg-warning { background-color: yellow; border-radius: 20px 0px 20px 0px; border: 3px dashed blue;}
.txt-black { color: black;}
.p-1 { padding: 50px; } /* memberi jarak sisi dalam border */
.m-1 { margin: 20px; } /* memberi jarak sisi luar border*/

a {
    color: red;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 10px;
}

.Gambar1 {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

